<div class="menu">
    <div class="fields-input">
        <div class="lables">
            <span class="name" style="">Артём Гацко</span>
            <span class="position">Руководитель отдела продаж</span>
        </div>
        <div class="buttons">
            <button @onclick="GoProduction">
                <div class="rectangle" style="@(select == 0 ? blueRectangleStyle : whiteRectangleStyle)"></div>
                <img src="@(select == 0 ? blueProduction : grayProduction)" width="30" /> 
                <span style="@(select == 0 ? blueStyle : grayStyle)">Продукция</span>
            </button>
            <button @onclick="GoClients">
                <div class="rectangle" style="@(select == 1 ? blueRectangleStyle : whiteRectangleStyle)"></div>
                <img src="@(select == 1 ? blueClients : grayClients)" width="30" /> 
                <span style="@(select == 1 ? blueStyle : grayStyle)">Клиенты</span>
            </button>
            <button @onclick="GoPrice">
                <div class="rectangle" style="@(select == 2 ? blueRectangleStyle : whiteRectangleStyle)"></div>
                <img src="@(select == 2 ? bluePrice : grayPrice)" width="30" /> 
                <span style="@(select == 2 ? blueStyle : grayStyle)">Цены</span>
            </button>
            <button @onclick="GoOrders">
                <div class="rectangle" style="@(select == 3 ? blueRectangleStyle : whiteRectangleStyle)"></div>
                <img src="@(select == 3 ? blueOrders : grayOrders)" width="30" /> 
                <span style="@(select == 3 ? blueStyle : grayStyle)">Заказы</span>
            </button>
        </div>
    </div>
    <div class="button-exit">
        <button @onclick="GoExit">
            <img src="../images/Exit.png"  width="40" /> 
            <span>Выйти из аккаунта</span>
        </button>
    </div>
</div>

@code {
    private byte select = 0;

    private string whiteRectangleStyle = "background-color: white;";
    private string blueRectangleStyle = "background-color: #146581;";

    private string blueStyle = "color: #146581;";
    private string grayStyle = "color: #72737A;";

    private string blueProduction = "../images/Production-blue.png";
    private string grayProduction = "../images/Production-gray.png";
    private string blueClients = "../images/Clients-blue.png";
    private string grayClients = "../images/Clients-gray.png";
    private string bluePrice = "../images/Price-blue.png";
    private string grayPrice = "../images/Price-gray.png";
    private string blueOrders = "../images/Orders-blue.png";
    private string grayOrders = "../images/Orders-gray.png";

    private void GoProduction()
    {
        select = 0;
        NavManager.NavigateTo("/production");
    }

    private void GoClients()
    {
        select = 1;
        NavManager.NavigateTo("/clients");
    }

    private void GoPrice()
    {
        select = 2;
        NavManager.NavigateTo("/price");
    }

    private void GoOrders()
    {
        select = 3;
        NavManager.NavigateTo("/orders");
    }

    private void GoExit()
    {
        NavManager.NavigateTo("/login");
    }
}
